<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Розділення рядка на пари</title>
</head>
<body>
    <h1>Розділення рядка на пари</h1>
    <input type="text" id="inputString" placeholder="Введіть рядок">
    <button onclick="displayResult()">Розділити на пари</button>
    <div id="result"></div>

    <script>
        function splitString(inputStr) {
            if (inputStr.length % 2 !== 0) {
                inputStr += '_';
            }

            const pairs = [];
            for (let i = 0; i < inputStr.length; i += 2) {
                pairs.push(inputStr.slice(i, i + 2));
            }
            let resultHtml = '<ul>';
            pairs.forEach(pair => {
                resultHtml += `<li>${pair}</li>`;
            });
            resultHtml += '</ul>';

            return resultHtml;
        }

        function displayResult() {
            const inputString = document.getElementById('inputString').value;
            const result = splitString(inputString);
            document.getElementById('result').innerHTML = result;
        }
    </script>
</body>
</html>
